@font-face {
    font-family: Rose;
    src: url('font/Roses\ Bolero.ttf'), 
    url('font/Roses\ Bolero.eot'),
    url('font/Roses\ Bolero.woff'),
    url('font/Roses\ Bolero.woff2'),
    url('font/Roses\ Bolero.otf');
}
body{
    font-family:'Rose';
    background-color: #fa7509;
}
h1{
    font-style: italic;
    font-weight: bold;
    
    font-size: 400px;
    text-align: center;
    color: white;
    text-shadow: 5px 15px 0px #f80101,10px 30px 0px #f88d01,
    15px 45px 0px #60eca6 ,20px 60px 0px #1c4179,
    25px 75px 0px #010e05,30px 90px 40px #010e05;
}